@font-face {
  font-family: 'titilium-light-web';
  src: url('@/assets/fonts/TitilliumWeb-Light.ttf');
}

@font-face {
  font-family: 'titilium-regular-web';
  src: url('@/assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'titilium-bold-web';
  src: url('@/assets/fonts/TitilliumWeb-Bold.ttf');
}
