/****** spacing ******/
$spacing-xxxsmall: 0.125rem;
$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 0.75rem;
$spacing-normal: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;
$spacing-xxlarge: 3rem;
$spacing-xxxlarge: 3.5rem;
$spacing-xxxxlarge: 4rem;
$spacing-xxxxxlarge: 4.5rem;

/****** dimensions ******/
$dim-xxsmall: 0.25rem;
$dim-xsmall: 0.5rem;
$dim-small: 0.75rem;
$dim-normal: 1rem;
$dim-large: 1.5rem;
$dim-xlarge: 2rem;
$dim-xxlarge: 3rem;
$dim-xxxlarge: 4rem;

/****** color ******/
$color-info: #5cbbf6;
$color-white: #ffffff;
$color-black: #000000;
$color-danger: #f44336;
$color-warning: #ff9800;
$color-primary: #1867c0;
$color-success: #4caf50;
$color-default: #e0e0e0;
$color-secondary: #989898;
